<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<rewrite>
            <rules>
		<rule name="Rewrite to it home">
                    <match url="^it/index.php" />
                    <action type="Rewrite" url="it/index.php?page=index" />
                </rule>
                <rule name="Rewrite to it simple page">
                    <match url="^it/([_0-9a-z-]+)/" />
                    <action type="Rewrite" url="it/index.php?page={R:1}" />
                </rule>
                <rule name="Rewrite to it simple page with args">
                    <match url="^it/([_0-9a-z-]+)/?([_0-9a-z-]+)" />
                    <action type="Rewrite" url="it/index.php?page={R:1}&amp;{R:2}" />
                </rule>

                <rule name="Rewrite to en home">
                    <match url="^en/index.php" />
                    <action type="Rewrite" url="en/index.php?page=index" />
                </rule>
                <rule name="Rewrite to en simple page">
                    <match url="^en/([_0-9a-z-]+)/" />
                    <action type="Rewrite" url="en/index.php?page={R:1}" />
                </rule>
                <rule name="Rewrite to en simple page with args">
                    <match url="^en/([_0-9a-z-]+)/?([_0-9a-z-]+)" />
                    <action type="Rewrite" url="en/index.php?page={R:1}&amp;{R:2}" />
                </rule>
		
		
                <rule name="Rewrite to img no name">
                    <match url="^img/([_0-9a-z]+)/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="gallery/{R:1}.png" />
                </rule>
                <rule name="Rewrite to img no name err">
                    <match url="^img/([_0-9a-z]+)-/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="gallery/{R:1}.png" />
                </rule>
                <rule name="Rewrite to img">
                    <match url="^img/([_0-9a-z-]+)-([_0-9a-z-]+)/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="gallery/{R:1}.png" />
                </rule>

                <rule name="Rewrite to img thumb no name">
                    <match url="^img/([_0-9a-z]+)/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="gallery/{R:1}_thumb.png" />
                </rule>
                <rule name="Rewrite to img thumb no name err">
                    <match url="^img/([_0-9a-z]+)-/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="gallery/{R:1}_thumb.png" />
                </rule>
                <rule name="Rewrite to img thumb">
                    <match url="^img/([_0-9a-z-]+)-([_0-9a-z-]+)/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="gallery/{R:1}_thumb.png" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
